sudo: required
services:
  - docker

before_install:
  - docker build -t fuat/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true fuat/docker-react npm run test

deploy:
  provider: elasticbeantalk
  region: "us-east-1"
  app: "docker-react"
  env: "DockerReact-env"
  bucket-name: "elasticbeanstalk-us-east-1-254289330288"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id:
    secure: "$AWS_ACCESS_KEY"
  secret-access-key:
    secure: "$AWS_SECRET_KEY"